<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <h2>ToDoリスト</h2>
    <div id="app">
        <div v-for="todo in todos">
            <label>
                <!-- v-modelで入力をつなぐ v-forで一つずつ取り出されたtodoのdoneを繋いでいる -->
                <input type="checkbox" v-model="todo.done">
                <!-- donestyleはtodo.doneがtrueの時に適用する -->
                <span v-bind:class="{donestyle:todo.done}">{{todo.text}}</span>
            </label>
        </div>
        <p>{{ remaining }} / {{ todos.length }}件処理</p>
    </div>

    <script>
        // ToDoリスト1
        new Vue({
            el: '#app',
            data: {
                todos: [
                    { done: false, text: 'パンを買う' },
                    { done: false, text: 'コーヒーを買う' }
                ]
            },
            // 再計算したものをremaining（todoチェック済み）として返す
            computed: {
                remaining: function () {
                    // valに一つずつ取り出しながらtrueのものだけをfilterする
                    return this.todos.filter(function (val) {
                        return val.done;
                    }).length; //チェックが入ったtodoの個数を返す
                }
            }
        })

    </script>

    <style>
        .donestyle {
            text-decoration: line-through;
            color: lightgray;
        }
    </style>
</body>

</html>